@import 'variables';
@import 'mixins';

:root.light {
    @include spread-map($theme-map-light);
}
:root.dark {
    @include spread-map($theme-map-dark);
}

:root.theme-transition,
:root.theme-transition * {
    transition: background-color $theme-transition-duration !important;
    transition-delay: 0s !important;
}
