@import 'variables';
@import 'mixins';

nav {
    background-color: theme-var($--theme-primary);
    color: theme-var($--theme-on-primary);
    padding: 0.5em;
    font-weight: bold;

    h1,
    h2,
    h3,
    h4 {
        margin: 0.25em 0;
        font-weight: bold;
    }
}

.nav-sticky {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    @include bs-elevate;
}

.nav-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    > * {
        margin-right: 0.4em;
    }
    fa-icon {
        font-size: 1em;
    }
}

fa-icon {
    font-size: $icon-size;
    color: theme-var($--theme-on-primary);
}

.nav-item-group {
    display: flex;
    align-items: center;
    > * {
        margin-left: 0.7em;
    }
}
